<a href="https://colab.research.google.com/github/Supraja1419/Supraja_INFO5731_Spring2022/blob/main/In-Class_Exercise-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]
  char = str1[5]
  str1 = str1.replace(char, '/')
  str1 = char + str1[0:]


  return str1

print(change_char('restart'))

$resta/t

In [ ]:
In_class_exercise_01.ipynb

Text cell <view-in-github>
#%% [markdown]
<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Text cell <DymRJbxDBCnf>
#%% [markdown]
# **The first In-class-exercise (01/25/2022, 40 points in total)**

Text cell <03jb4GZsBkBS>
#%% [markdown]
(1) Write a Python program to calculate the length of a string. (4 points)

Code cell <YaGLbSHHB8Ej>
#%% [code]
# write your answer here

str = "Supraja"
print(len(str))


Text cell <jJDe71iLB616>
#%% [markdown]
(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

Code cell <MtKskTzbCLaU>
#%% [code]
# write your answer here


Text cell <55W9AMdXCSpV>
#%% [markdown]
(3) Write a Python program to sum all the items in a list. (4 points)

Code cell <I57NXsauCec2>
#%% [code]
# write your answer here
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([1,2,-8]))


Text cell <4ulBZ6yhCi9F>
#%% [markdown]
(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

Code cell <Fj0XhwbBCw2o>
#%% [code]
# write your answer here
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]

  return str1

print(change_char('restart'))


Text cell <_bIP7s1MCzue>
#%% [markdown]
(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)



Code cell <w79QilHXD3Mg>
#%% [code]
# write your answer here


Text cell <xCa2bK9aD4Q3>
#%% [markdown]
(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}


Code cell <_z4aLqAbEET1>
#%% [code]
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)


Text cell <0v48Vqa7FrQh>
#%% [markdown]
(7) Write a Python program to check whether an element exists within a tuple. (4 points)

Code cell <7WEmgq-DF2P1>
#%% [code]
# write your answer here
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
print("r" in tuplex)
print(5 in tuplex)


Text cell <vD5PYLMuGga_>
#%% [markdown]
(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

Code cell <t0D5kdJUGjjw>
#%% [code]
# write your answer here
setn = {5, 10, 3, 15, 2, 20}
print("Original set elements:")
print(setn)
print(type(setn))
print("\nMaximum value of the said set:")
print(max(setn))
print("\nMinimum value of the said set:")
print(min(setn))



Text cell <uHkd-y5VhVWC>
#%% [markdown]
(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

Code cell <3iGbmcOBhTwy>
#%% [code]
# write your answer here


Text cell <undefined>
#%% [markdown]
(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

Code cell <undefined>
#%% [code]
# write your answer here


Text cell <undefined>
#%% [markdown]
(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

Code cell <undefined>
#%% [code]
# write your answer here
from datetime import date, timedelta

def all_sundays(year):
# January 1st of the given year
       dt = date(year, 1, 1)
# First Sunday of the given year       
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
          
for s in all_sundays(2020):
   print(s)

In_class_exercise_01.ipynb

Text cell <view-in-github>
#%% [markdown]
<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Text cell <DymRJbxDBCnf>
#%% [markdown]
# **The first In-class-exercise (01/25/2022, 40 points in total)**

Text cell <03jb4GZsBkBS>
#%% [markdown]
(1) Write a Python program to calculate the length of a string. (4 points)

Code cell <YaGLbSHHB8Ej>
#%% [code]
# write your answer here


Text cell <jJDe71iLB616>
#%% [markdown]
(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

Code cell <MtKskTzbCLaU>
#%% [code]
# write your answer here


Text cell <55W9AMdXCSpV>
#%% [markdown]
(3) Write a Python program to sum all the items in a list. (4 points)

Code cell <I57NXsauCec2>
#%% [code]
# write your answer here


Text cell <4ulBZ6yhCi9F>
#%% [markdown]
(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

Code cell <Fj0XhwbBCw2o>
#%% [code]
# write your answer here


Text cell <_bIP7s1MCzue>
#%% [markdown]
(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)



Code cell <w79QilHXD3Mg>
#%% [code]
# write your answer here


Text cell <xCa2bK9aD4Q3>
#%% [markdown]
(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}


Code cell <_z4aLqAbEET1>
#%% [code]
# write your answer here


Text cell <0v48Vqa7FrQh>
#%% [markdown]
(7) Write a Python program to check whether an element exists within a tuple. (4 points)

Code cell <7WEmgq-DF2P1>
#%% [code]
# write your answer here


Text cell <vD5PYLMuGga_>
#%% [markdown]
(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

Code cell <t0D5kdJUGjjw>
#%% [code]
# write your answer here


Text cell <uHkd-y5VhVWC>
#%% [markdown]
(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

Code cell <3iGbmcOBhTwy>
#%% [code]
# write your answer here


Text cell <undefined>
#%% [markdown]
(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

Code cell <undefined>
#%% [code]
# write your answer here


Text cell <undefined>
#%% [markdown]
(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

Code cell <undefined>
#%% [code]
# write your answer here



---